.title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}
td{
    padding: 0px;
}
.right-align{
    text-align: right;
    font-weight: bold;
    padding: 7px;
}
body{
    background-color: rgb(190, 247, 234);
    color: rgb(57, 62, 70);
}
hr{
    margin-top: 0px;
}
.heading{
    margin-bottom: 0px;
    text-align: center;
}
.about{
    margin-left: 60px;
    
}
.about-me{
    font-size: 40px;
}
.info{
    padding-top: 30px;
    
}
.info:hover{
    transform: scale3d(1.05,1,1.1);
}
.top{
    margin-left: auto;
    margin-right: auto;
}
.about-td{
    padding: 8px;
}
.deco{
    opacity: 30%;
    border-color: black;
    margin-bottom: 0px;
    border-style: dotted;
}
.education-table{
    padding: 10px;
    margin-left: 220px;
}
.skills-table{
    padding: 10px;
    margin-left: 265px;
}
.academics-table{
    padding: 10px;
    margin-left: 290px;
}
.interests-l{
    padding: 10px;
    margin-left: 300px;
}
.interests-li{
    padding: 4px;
}
div:hover{
    background-color: aliceblue;
    transform: scale3d(1.05,1,1.1);
    transition-duration: 0.5s;
}
h2{
    margin-top: 0px;
    padding-top: 20px;
}
#mail:hover{
    cursor: pointer;
    text-decoration: underline;
}