p{
    font-family: Arial, Helvetica, sans-serif;
}
.video-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    width: 280px;
    margin-bottom: 0px;
    margin-top: 125px;
}
.video-stats{
    font-size: 14px;
    margin-top: 3px;
    color: #606060;
    margin-bottom: 15px;
}
.video-author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #606060;
}
.video-description{
    width: 280px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 110px;
}
.video-link{
    background-color: #e34140;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shop-link{
    cursor: pointer;
    text-decoration: underline;
}